<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="karks-crm">
			<directory suffix="Test.php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
</phpunit>
